<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<%include ../partials/header_main%>

<div class="container">
    <main>


    </main>

</div>
<% include ../partials/footer %>
</body>
</html>