<div class="main_header">
    <nav id="header">
        <div class="nav-wrapper">
            <a href="/home"><img src="/images/academylogo_white-bigger.png" height="63" class="brand-logo mainHeaderImage"/></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="topLi"><a href="/admin">Admin</a></li>
                <li class="topLi"><a href="/observation">Observation</a></li>
                <li class="topLi"><a href="/admin_view_data">View Data</a></li>
                <li class="topLi"><a href="/logout">Log Out <%= user.Username %></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li class="topLi"><a href="/admin">Admin</a></li>
                <li class="topLi"><a href="/observation">Observation</a></li>
                <li class="topLi"><a href="/admin_view_data">View Data</a></li>
                <li class="topLi"><a href="/logout">Log Out <%= user.Username %></a></li>
            </ul>
        </div>
    </nav>
</div>