<div class = "main_header">
<nav>
    <div class="nav-wrapper">
        <img src="/images/academylogo_white.png" width="40%" height="95%" class="brand-logo"/>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login">Teacher Login</a></li>
            <li><a href="#">Rêve Staff Login</a></li>

                <li><a href="#">Intern Login</a></li>

            <li><a href="#">Register</a></li>
        </ul>
    </div>
</nav>
</div>


