<div class="container" ng-controller="ObservationController as observation">
    <main>
        <div class="row">
            <h4 class="col s12"><%= title %></h4>

        </div>
        <div class="row">
            <div class="col s3">
                <h5>Select Class</h5>
                <form>
                    <div ng-repeat="Class in observation.Classes track by $index">
                        <input class="with-gap" ng-model="observation.ClassID" type="radio" name="group1"
                               value="{{ Class.ClassID }}" id="{{ Class.ClassID }}"/>
                        <label for="{{Class.ClassID}}" ng-click="observation.selectClass(Class)">({{ (Class.DateStart *
                            1000) |
                            date: 'MM/dd/yyyy' }}) {{ Class.ClassName }}</label>
                    </div>
                </form>
            </div>

            <h5 ng-if="observation.classClicked">{{ observation.classSelected }} Students</h5>

            <table class="striped" ng-if="observation.classClicked">
                <th colspan="4">
                    Name
                </th>

                <tr ng-repeat="Student in observation.studentData track by $index">