
</tr>

</table>

<button class="right btn-small waves-effect waves-light btn deep-orange accent-4" id="observationButton" ng-if="observation.classClicked" type="button" ng-click="observation.saveObs('<%= title %>')">SAVE</button>
<span class="saved right" ng-if="observation.obsSaved">{{ observation.message }}</span>

</div>
</main>

</div>

