<nav class="observationMenu">
    <ul id="slide-out" class="side-nav fixed">
        <li><a href="/equitable">Equitable</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li><a class="collapsible-header">Progress Monitoring</a>

                    <div class="collapsible-body" style="display: none;">
                        <ul class="progress-monitoring">
                            <li><a href="/communication">Communication</a></li>
                            <li><a href="/enthusiasm">Enthusiasm</a></li>
                            <li><a href="/teamwork">Teamwork</a></li>
                            <li><a href="/problem_solving">Problem Solving</a></li>
                            <li><a href="/professionalism">Professionalism</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="/engagement">Engagement</a></li>
        <li><a href="/supportive_learning">Supportive Learning</a></li>
        <li><a href="/responsibility">Responsibility</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
        <li><a href="/equitable">Equitable</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li><a class="collapsible-header">Progress Monitoring</a>

                    <div class="collapsible-body" style="display: none;">
                        <ul class="progress-monitoring">
                            <li><a href="/communication">Communication</a></li>
                            <li><a href="/enthusiasm">Enthusiasm</a></li>
                            <li><a href="/teamwork">Teamwork</a></li>
                            <li><a href="/problem_solving">Problem Solving</a></li>
                            <li><a href="/professionalism">Professionalism</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="/engagement">Engagement</a></li>
        <li><a href="/supportive_learning">Supportive Learning</a></li>
        <li><a href="/responsibility">Responsibility</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>