<% if (user.UserType == 1) { %>

<nav class="observationMenu">
    <ul id="slide-out" class="side-nav fixed">
        <li><a href="/equitable">Equitable</a></li>
        <li><a href="/progress_monitoring">Progress Monitoring</a></li>
        <li><a href="/engagement">Engagement</a></li>
        <li><a href="/supportive_learning">Supportive Learning</a></li>
        <li><a href="/responsibility">Responsibility</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
        <li><a href="/equitable">Equitable</a></li>
        <li><a href="/progress_monitoring">Progress Monitoring</a></li>
        <li><a href="/engagement">Engagement</a></li>
        <li><a href="/supportive_learning">Supportive Learning</a></li>
        <li><a href="/responsibility">Responsibility</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>

<% } else { %>
<nav class="observationMenu">
    <ul id="slide-out" class="side-nav fixed">
        <li><a href="/equitable_intern">Equitable</a></li>
        <li><a href="/progress_monitoring_intern">Progress Monitoring</a></li>
        <li><a href="/engagement_intern">Engagement</a></li>
        <li><a href="/supportive_learning_intern">Supportive Learning</a></li>
        <li><a href="/responsibility_intern">Responsibility</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
        <li><a href="/equitable_intern">Equitable</a></li>
        <li><a href="/progress_monitoring_intern">Progress Monitoring</a></li>
        <li><a href="/engagement_intern">Engagement</a></li>
        <li><a href="/supportive_learning_intern">Supportive Learning</a></li>
        <li><a href="/responsibility_intern">Responsibility</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>

<% } %>