<div class="main_header">
    <nav id="header">
        <div class="nav-wrapper">
            <img src="/images/Reve_Text_White.png"  width="30%" height="30%" class="responsive-img brand-logo"/>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="topLi"><a href="/add_class">Add A Class</a></li>
                <li class="topLi"><a href="/observation">Observation</a></li>
                <li class="topLi"><a href="/teacher_view_data">View Data</a></li>
                <li class="topLi"><a href="/logout">Log out, <%= user.Username %></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li class="topLi"><a href="/add_class">Add A Class</a></li>
                <li class="topLi"><a href="/observation">Observation</a></li>
                <li class="topLi"><a href="/teacher_view_data">View Data</a></li>
                <li class="topLi"><a href="/logout">Log out, <%= user.Username %></a></li>
            </ul>
        </div>
    </nav>
</div>