<div class = "main_header">
    <nav>
        <div class="nav-wrapper">
            <img src="/images/academylogo_white.png" width="40%" height="95%" class="brand-logo"/>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Add A Class</a></li>

                <li><a href="#">Observation</a></li>

                <li><a href="#">View Data</a></li>
                <li><a href="#">Log out</a></li>
            </ul>
        </div>
    </nav>
</div>