- var no_nav = false
- var page = "Collections"

doctype html
html(lang="en")
  head
    include _head
  body
    include _navbar
    main
      include page-contents/collections_content.html
    include _footer.html
    include _scripts.html
