- var no_nav = true

doctype html
html(lang="en")
  head
    include _head
  body
    include _navbar
    main
      include index/index_content.html
    include _footer.html
    include _scripts.html