<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<%include partials/header_main%>
<header>
    <% include partials/slideout_menu %>
</header>
<div class="container">
    <main>

 <h1>hey!</h1>
    </main>

</div>
<% include partials/footer %>
</body>
</html>