<!DOCTYPE html>
<html ng-app="MainApp">
<head>
    <% include partials/head %>
    <script src="/javascripts/controllers/Engagement.js" type="text/javascript"></script>
</head>
<body>
<header>
    <% include partials/admin_header %>
</header>
<% include partials/slideout_menu %>
<div class="container">
    <main ng-controller="EngagementController as engagement">
        <div class="row">
            <h4 class="col s12">Engagement</h4>
        </div>
        <div class="engagement">
            <ul>

                <div class="switch">
                    <li>John Doe
                        <label>Off
                            <input type="checkbox"/>
                            <span class="lever"></span>
                            On Task
                        </label>
                    </li>
                </div>
                <br>

                <div class="switch">
                    <li>Jane Doe
                        <label>Off
                            <input type="checkbox"/>
                            <span class="lever"></span>
                            On Task
                        </label>
                    </li>
                </div>
            </ul>
            <button class="right btn-small waves-effect waves-light btn">Save</button>
        </div>

    </main>

</div>
</body>
</html>