<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<%include partials/header_main%>
<header>
    <% include partials/slideout_menu %>
</header>
<div class="container">
    <main>
        <div class="row">
            <h4 class="col s12">Engagement</h4>
        </div>
        <div class="engagement">
            <ul>

                <div class="switch">
                    <li>John Doe
                    <label>Off
                        <input type="checkbox"/>
                        <span class="lever"></span>
                        On Task
                    </label>
                    </li></div>
                <br>
                <div class="switch">
                    <li>Jane Doe
                        <label>Off
                            <input type="checkbox"/>
                            <span class="lever"></span>
                            On Task
                        </label>
                    </li></div>
            </ul>
            <button class="right btn-small waves-effect waves-light btn deep-orange accent-4" >Save</button>
        </div>

    </main>

</div>
<% include partials/footer %>
</body>
</html>