<!DOCTYPE html>
<html ng-app="MainApp">
<head>
    <% include partials/head %>
    <script src="/javascripts/controllers/Enthusiasm.js" type="text/javascript"></script>
</head>
<body>
<header>
    <% include partials/admin_header %>
</header>
<% include partials/slideout_menu %>
<div class="container">
    <main ng-controller="EnthusiasmController as enthusiasm">
        <div class="row">
            <h4 class="col s12">Enthusiasm</h4>
        </div>

    </main>

</div>
<% include partials/footer %>
</body>
</html>