<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<% if (user.UserType == 0) { %>
<% include partials/admin_header %>
<% } else if(user.UserType == 1) { %>
<% include partials/teacher_header%>
<% } else  { %>
<% include partials/admin_header%>
<% } %>

<div class="container">
    <main>
        <% if (user) { %>
        Welcome, <%= user.Username %>
        <% } %>
        

    </main>

</div>
</body>
</html>