<!DOCTYPE html>
<html ng-app="MainApp">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/header_main %>
<main class="noPadding">
    <div class="container">

        <!--TODO put big logo here-->
    </div>
</main>
<% include partials/footer %>
</body>
</html>
