<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<%include partials/admin_header%>

<div class="container">

    <!--TODO put big logo here-->
</div>
<% include partials/footer %>
</body>
</html>
