<!DOCTYPE html>
<html ng-app="MainApp">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/header_main %>
<main class="noPadding">
    <div class="container">
        <img class="responsive-img mainImage" src="/images/reve_shield2.png"/>
    </div>
</main>
</body>
</html>
