<!DOCTYPE html>
<html>
  <head>
    <%include partials/head%>
  </head>
  <body class = "container">
  <header class = "main_header">
    <%include partials/header_main %>
  </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  </body>
</html>
