<!DOCTYPE html>
<html ng-app="MainApp">
<head>
    <% include partials/head %>
    <script src="/javascripts/controllers/ProblemSolving.js" type="text/javascript"></script>
</head>
<body ng-controller="ProblemSolvingController as problem">
<header>
    <% include partials/admin_header %>
</header>
<% include partials/slideout_menu %>
<div class="container">
    <main>
        <div class="row">
            <h4 class="col s12">Problem Solving</h4>
        </div>

    </main>

</div>
</body>
</html>