<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <script src="/javascripts/register.js"></script>
</head>
<body>
<% include partials/header_main %>
<div class="container">
    <main class="noPadding">
        <div class="row">
            <div class="col s10">
                <h4>Please Register</h4>
            </div>
        </div>
        <div class="registration">
            <div class="row">
                <form action="/register" class="col s10" method="post">
                    <div class="row">
                        <div class="input-field col s5">
                            <input id="first_name" type="text" class="validate" name="FirstName" required>
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="last_name" type="text" class="validate" name="LastName" required>
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <input id="email" type="email" class="validate" name="Email" required>
                            <label for="email">Email</label>
                        </div>

                        <div class="input-field col s5">
                            <input id="confirmEmail" type="email" class="validate" required>
                            <label for="confirmEmail">Confirm Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10">
                            <input id="username" type="text" class="validate" name="Username" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <input id="password" type="password" class="validate" name="Password" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="confirmPassword" type="password" class="validate" required>
                            <label for="confirmPassword">Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <input id="pin" type="text" maxlength="5" class="validate" name="PIN"
                                   required>
                            <label for="pin">Authorization Number</label>
                        </div>
                        <div class="input-field col s5">
                            <button class="btn waves-effect waves-light" id="passwordSubmitButton" type="submit"
                                    name="action">
                                Submit
                            </button>
                    <span id="registerMessage" style="padding-left:20px">
                        <% if (message.length > 0) { %>
                        <%= message %>
                        <% } %>
                    </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>