<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<%include partials/header_main%>
<header>
    <% include partials/slideout_menu %>
</header>
<div class="container">
    <main>
        <div class="row">
            <h4 class="col s12">Responsibility</h4>
        </div>
        <div class="responsibility">
            <ul>

                <div class="switch">
                    <li>John Smith
                        <label>
                            <input type="checkbox"/>
                            <span class="lever"></span>
                            Work complete
                        </label>
                    </li></div>
                <br>
                <div class="switch">
                    <li>Jane Smith
                        <label>
                            <input type="checkbox"/>
                            <span class="lever"></span>
                            Work complete
                        </label>
                    </li></div>
            </ul>
            <button class="right btn-small waves-effect waves-light btn deep-orange accent-4" >Save</button>
        </div>

    </main>

</div>
<% include partials/footer %>
</body>
</html>