<!DOCTYPE html>
<html ng-app="MainApp">
<head>
    <% include partials/head %>
    <script src="/javascripts/controllers/Observation.js" type="text/javascript"></script>
</head>
<body>
<header>
    <% include partials/admin_header %>
</header>
<% include partials/slideout_menu %>
<% include partials/observation_header %>
        <div class="responsibility">
            <td>
                {{Student.FirstName}} {{Student.LastName}}
            </td>
            <td>
            <ul>

                <div class="switch">

                        <label>
                            <input class='respo' ng-model="Student.ObsValue" type="checkbox" onclick="console.log(this.checked)"/>
                            <span class="lever"></span>
                            Work complete
                        </label>

                </div>
                <br>
            </ul>
            <!--<button class="right btn-small waves-effect waves-light btn deep-orange accent-4">Save</button>-->
        </div>

    </main>

<% include partials/observation_footer %>
</body>
</html>