<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<%include partials/header_main%>
<header>
    <% include partials/slideout_menu %>
</header>
<div class="container">
    <main>
        <div class="row">
            <h4 class="col s12">Supportive Learning</h4>
        </div>

    </main>

</div>
<% include partials/footer %>
</body>
</html>