<!DOCTYPE html>
<html ng-app="MainApp">
<head>
    <% include ../partials/head %>
    <script src="/javascripts/controllers/AddClass.js" type="text/javascript"></script>
</head>
<body>
<% if (user.UserType == 0) { %>
<% include ../partials/admin_header %>
<% } else if(user.UserType == 1) { %>
<% include ../partials/teacher_header%>

<% } else  { %>
<% include ../partials/intern_header%>
<% } %>
<div class="container">
    <main ng-controller="AddClassController as class" class="noPadding">
        <h4>Add Class</h4>

        <div class="row">
            <form action='/add_class' method="post" class="col s12" ng-submit="class.submit()">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" class="validate" name="ClassName" ng-model="class.ClassName" required>
                        <label for="classname">Class Name</label>
                    </div>
                </div>
                <div class="row">

                    <div class="input-field col s6">
                        <input id="DateStart" type="date" class="datepicker" name="DateStart" ng-model="class.DateStart"
                               required>
                        <label for="startdate">Start Date</label>
                    </div>
                    {{ class.DateStart }}
                    <div class="input-field col s4 offset-s8">
                        <button class="btn waves-effect waves-light" type="button" ng-click="class.submit()">Submit</button>
                    </div>

                </div>
            </form>
        </div>
    </main>

</div>
</body>

</html>